*{
    font-family: "굴림";
    list-style : none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: rgb(31, 151, 160);
}

h1{
    font-size : 48px;
    font-weight : 100;
}

.contents{
    font-size: 20px;
    font-weight: lighter;
}

.contents_bold{
    font-size : 18px;
    font-weight : bold;
}
.contents2{
    font-size : 14px;
    font-weight:lighter;
}

.result{
    font-size : 24px;
}
.intro-bg{
    background-image: url("image1.jpg");
    width:100%;
    height:718px;
}

.amount{
    position: relative;
    top : -66px;
    display: flex;
    width: 1280px;
    background: white;
    margin : auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.amount > li{
    flex:1;
    height: 132px;
}

.amount > li > div{
   text-align : center;
   height : 57px;
   margin-top : 37px;
}

.amount >li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}
.search_area{
    width:300px;
    height:40px;
    background : rgba(0,0,0,0.5);
    border-radius:5px;
    margin-top : 24px;
}

.search_area > form > input{
    border  : none;
    width : 250px;
    height : 40px;
    background: black;
    color : #fff;
    padding-left : 10px;
}
.search_area > form > span{
    width:50px;
    color : white;
    font-weight: bold;
    cursor : pointer;
    text-align: right;
    margin-left : 5px;
}

.header{
    width:1280px;
    margin:auto;
    display:flex;
    height: 86px;
}

.nav
{
    display: flex;
    width:calc(1280px - 300px);
    justify-content: flex-end;
    line-height : 86px;

}


  .button > span {
    color : white;
    display: flex;
    position: relative;
    transition: 0.5s;
    margin-left : 84px;
  }
  
  .button > span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover > span {
    padding-right: 25px;
  }
  
  .button:hover > span:after {
    opacity: 1;
    right: 0;
  }

.intro-text{
    text-align : center;
    width: 100%;
    margin: 231px auto 231px auto;
}
.intro-text > h1,
.intro-text > h4{
    color : #fff;
}

.main_text0{
    width : 100%;
    height : 601px;
    background : #f1f2f3;
    margin-top : -132px;
}

.main_text0 > h1{
    text-align : center;
    padding-top : 116px;
}

.main_text0 > .contents{
    text-align: center;

}

.icons{
    display : flex;
    width : 1280px;
    height : 302px;
    margin: auto;
    text-align: center;
}

.icons > li{
    flex : 1;
    background : white;
    margin-top: 48px;
    height : 302px;
}

.icons > li > .icon_img{
    margin-top: 36px;
}
.icons > li:not(:last-child){
    margin-right : 20px;
}

.icons .contents2{
    width : 210px;
    margin : auto;
    letter-spacing: -1px;
    margin-top : 10px;
}

.more{
    width : 100px;
    height : 30px;
    background : blue;
    color : white;
    font-size : 12px;
    line-height : 30px;
    margin : 15px auto;
    cursor : pointer;
}

.main_text1{
    width: 100%;
    height : 659px;
}
.main_text1 > h1{
    padding-top : 50px;
    text-align : center;
}

.main_text1 > .contents{
    text-align : center;
}

.service{
    width : 1280px;
    display : flex;
    margin : 49px auto 49px;
    height : 427px;
}

.service > .content2 {
    margin-left : 45px;
}

.service > .content2 > h2{
    margin-bottom : 27px;
}

.main_text2{
    width : 100%;
    height : 418px;
    background-image: url("flash-4244923_1920.png");
    background-repeat: repeat-x;
}

.main_text2 > ul{
    display : flex;
    padding-top : 53px;
    padding-left: 100px;
}

.main_text2 > ul > li{
    flex : 1;
    text-align : center;
}

.main_text2 > ul > li > h1,
.main_text2 > ul > li > div{
   color : white
}

.more2{
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 16px auto; 
    border : 1px solid white;
    cursor: pointer;
}

footer{
    display : flex;
    background : #1f1f1f;
    padding: 30px;
}

footer > div:first-child{
    flex: 3;
  text-align: center;
  color : white;
}

footer > div:last-child{
    flex: 9;
    color : white;
    line-height: 30px;
}

iframe{
    margin: auto;
    width :560px;
    height :315px;    
}